* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.App {
  min-height: 100vh;
  background-color: #222e4f;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lottie-container {
  width: 100%;
  max-width: 1200px;
  height: auto;
}
