.App {
  min-height: 100vh;
  background-color: #222e4f;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 20px;
}

.lottie-container {
  width: 100%;
  max-width: 800px;
  background: transparent;
}
